<div>
  <div class="col-md-2 home-user-separator">1
    <div class="col-sm-12 home-user-separator fa fa-pencil">Edit Profile</div>
    <div class="col-sm-12 home-user-separator">sdfds</div>
    <div class="col-sm-12 home-user-separator">sdfds</div>
    <div class="col-sm-12 home-user-separator">sdfds</div>
  </div>

  <div class="col-md-8 home-user-separator">2</div>

  <div class="col-md-2 home-user-separator">3
    <div class="col-sm-12 home-user-separator">sdfds</div>
    <div class="col-sm-12 home-user-separator">sdfds</div>
    <div class="col-sm-12 home-user-separator">sdfds</div>
    <div class="col-sm-12 home-user-separator">sdfds</div>
  </div>
</div>
