<div>
  <div class="col-md-4 home-user-separator">1
    <div class="col-sm-12 home-user-separator">sdfds</div>
  </div>
  <div class="col-md-4 home-user-separator">2</div>
  <div class="col-md-4 home-user-separator">3</div>
</div>
