// Place all the styles related to the home controller here.
// They will automatically be included in application.css.sass.
// You can use Sass (SCSS) here: http://sass-lang.com/
.home-user-separator{
  border: solid 1px black;
  padding: 5px;
  margin-bottom: 5px;
}
.span-indent{
  margin-left: 10px;
}
.border-solid{
  border: solid 1px black;
  padding: 5px;
}
.padding-10{
  padding: 10px;
}
.padding-30{
  padding: 30px;
}
.profile-picture{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
}
.profile-picture img{
  width: 150px;
  height: 160px;
  border: 1px solid #000;
  object-fit: fill;
}
#prof-pic{
  position: absolute;
  top: 195px;
  left: 35px;
}
.profile-banner{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  height: 300px;
}
.profile-banner img{
  width: 100%;
  height: 100%;
  border: 1px solid #000;
  object-fit: fill;
}